<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/_/img/logo-color.svg">
        <span class="title">小明跑腿</span>
      </div>
      <div class="desc">欢迎使用小明跑腿同城服务系统</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="https://meepo.com.cn" target="_blank">meepo</a>出品
    </global-footer>
  </div>
</div>
