<nz-card [nzBordered]="false">
  <nz-steps [(nzCurrent)]="step">
    <nz-step nzTitle="基础信息"></nz-step>
    <nz-step nzTitle="小部件"></nz-step>
    <nz-step nzTitle="schema"></nz-step>
    <nz-step nzTitle="ui"></nz-step>
  </nz-steps>
  <create-field-base *ngIf="step===0" (onNext)="onNext($event)"></create-field-base>
  <create-field-widget *ngIf="step===1" (onNext)="onNext($event)"></create-field-widget>
  <create-field-schema (onNext)="onNext($event)" [type]="result.type" *ngIf="step===2"></create-field-schema>
  <create-field-ui (onNext)="onNext($event)" [type]="result.type" *ngIf="step===3"></create-field-ui>
</nz-card>
